/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* properties */
:root{
    --light-clr: #fff;
    --dark-clr: #504f4f;
    --accent-clr: #00cc90;

    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3.6rem;
    --font-family: 'Poppins', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 3rem;

    --section-spacing: 8rem;

    --gap-sm: 1.5rem;
    --gap-md: 2rem;
    --gap-lg: 4rem;
}

/* base styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--dark-clr);
    overflow-x: hidden;
}

a{
    color: var(--dark-clr);
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

i{
    font-size: var(--margin-md);
}

/* reusable */

.container{
    max-width: 116rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-screen-hidden{
    display: none !important;
}
.d-grid{
    display: grid;
}

.section{
    padding-block: var(--section-spacing);
}

/* header */
.header{
    background-color: var(--light-clr);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
}



.hidden {
  opacity:0;
}
.console-container {
  z-index: 1;
  font-size:2em;
  text-align:center;
  display:block;
  position:absolute;
  transform: translateY(20px);
  color: var(--accent-clr);
  top:0;
  bottom:0;
  left:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.menu-toggle-icon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--accent-clr);
    cursor: pointer;
    transition: color .25s;
    color: var(--light-clr);
}

.menu-close-icon{
    display: none;
}

.list{
    display: flex;
    flex-direction: column;
    gap: var(--margin-sm);
}

.list-link{
    position: relative;
}

.list-link::after,
.list-link.current::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    width: .5rem;
    height: .5rem;
    background-color: var(--accent-clr);
    border-radius: 50%;
    opacity: 0;
    transition: opoctiy .25s;
}

.list-link.current::after{
    opacity: 1 !important;
}
.list-link:hover::after{
    opacity: 1;
}

.nav-mobile{
    background-color: #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    transform: translateY(-100%);
    z-index: -1;
    transition: transform .25s;
}


/* JS styles */
.nav.active .nav-mobile{
    transform: translateY(8rem);
}

.nav.active .menu-open-icon{
    display: none;
}
.nav.active .menu-close-icon{
    display: block;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.header.active::before{
    opacity: 1;
    transform: scale(1);
}

.header.active-scroll{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}



/* app images */
.showcase-data{
    padding-top: 7rem;
}
.showcase{
    margin-top: 8rem;
}
.showcase-container{
    padding-top: 9rem;
    gap: var(--gap-sm);
}
.image-group{
    padding-bottom: 20rem;
}

.image-box{
    min-height: 25rem;
    box-shadow: 2px 2px 1rem (rgba(0, 0, 0, .1));
    overflow: hidden;
    border-radius: 50%;
    border: 1px outset var(--accent-clr);
    opacity: 1;
}

.showcase .image-box{
    min-height: 25rem;
}

.image-box img{
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.image-box:hover img{
    transform: scale(1.2);
    opacity: 0;
    transition: 0.7s;
}

img{
    opacity: 0.97;
}

.image-left{
    grid-column: 1/3;
    background-image: url('../images/1.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
} 

.image-center{
    grid-column: 3/5;
    background-image: url('../images/2.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
}
.image-right{
    grid-column: 5/7;
    background-image: url('../images/3.png');
    background-size: 100%;
    background-position-y: 2.5rem;
}
.tagline{
    display: inline-block;
    font-size: var(--font-size-xsm);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--accent-clr);
    margin-bottom: var(--margin-sm);
}

.title{
    font-size: var(--font-size-md);
    margin-bottom: var(--margin-md);
}
.main-title{
    font-size: var(--font-size-lg);
}
.accent-text{
    color: var(--accent-clr);
}
.accent-text1{
    color: rgb(0, 87, 187);
}
.description{
    margin-bottom: var(--margin-lg);
}
.btn{
    text-align: center;
    display: inline-block;
    background-color: var(--accent-clr);
    color: var(--light-clr);
    padding: 1rem 2.5rem;
    transition: background-color .25s;
    border-radius: .5rem;
}

.btn:hover{
    background-color: #00be85;
    
}
/*about*/
.about{
    margin-top: 40rem;
    background:url(../images/night.jpg);
    background-size: cover;
    position: relative;
    z-index: 5;
    margin-bottom: 25rem;
}
.about::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.about-container{
    display: flex;
    justify-content: center;
}
.about-container-inner{
    max-width: 78rem;
    text-align: center;
    color: var(--light-clr);
}
.btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-md)

}
.btn-light{
    background-color: var(--light-clr);
    color: var(--dark-clr);
}
.btn-light:hover{
    color: var(--light-clr);
}


/* skills images */
.skills-showcase-container{
    padding-top: 9rem;
    gap: var(--gap-sm);
    margin: auto;
    width: 100%;
}


 .skills, .ms{
    height: 200px;
    margin-left: 4rem;
    padding: 3rem;
    opacity: 0.9;
    
   }
 
 .imagegroup {
    display: flex;
    width:100%;
    justify-content: center;
	align-items: center;
   }
 
   .imagegroup {
    animation: travel 50s ease infinite;
   }
 
 @keyframes travel {
    0%, 100% {
       transform: translate3d(100%,0,0);
     }
    50% {
       transform: translate3d(-100%,0,0);
     }
  }




/* contact */
.contact-container{
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    margin-bottom: 5rem;
}

.contact-container:after{
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background:url(../images/med.jpg) no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.form-decoration{
    background:url(../images/med.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
}

.contact-form{
    padding: 25px 40px;
}
.contact-header{
    position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
.contact-header:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #00be85;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.contact-btn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #00be85;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.contact-btn:hover{
    background-color: #006d4c;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}


/* footer */

.footer{
    background-color: var(--light-clr);
    padding-bottom: 4rem;
}

.footer-container-inner{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:var(--gap-md);
}

.contact-information address{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-information .list{
    flex-direction: row;
    margin-top: 1.5rem;
}

.footer .list-link{
    transition: color .25s;
}
.footer .list-link::after{
    display: none;
}
.footer .list-link:hover{
    color: var(--accent-clr)
}

.underline{
    text-decoration: underline;
}

.footer-title{
    font-size: var(--font-size-sm);
}

.footer-separator{
    margin-block: 2.5rem;
    opacity: 0.2;
}
.copyright{
    opacity: 0.8;
}



@media screen and (max-width: 880px){
    .btn-group{
        flex-direction: row;
    }
   
    .showcase-container{
        padding-top: 2rem;
        gap: var(--gap-sm);
    }
    
    .showcase .image-box{
        min-height: 15rem;
    }
    .row{
        width: 600%;
        padding-bottom: 25rem;
    }
    
    .contact-box{
        grid-template-columns: 1fr;
    }
    .form-decoration{
        height: 200px;
    }

    .skills{
    width: auto;
    padding-top: 5rem;
    padding-left: 4rem;
   }

 .imagegroup{
    width: 800%;
 }
 @keyframes travel {
    0%, 100% {
       transform: translate3d(-10%,0,0);
     }
    50% {
       transform: translate3d(-76%,0,0);
     }
  }

}

@media screen and (min-width: 1000px) {
    .nav-mobile{
        background-color: transparent;
        position: initial;
        width: initial;
        padding: initial;
        z-index: initial;
        transform: initial;
        transition: initial;
    }

    .nav .list{
        flex-direction: row;
    }

    .list-link::after, 
    .list-link.current::after{
       top: initial;
       right: initial;
       left: 50%;
       transform: translateX(-50%);
       bottom: -1rem; 
    }

    .sm-screen-hidden{
        display: block !important;
    }

    .lg-screen-hidden{
        display: none;
    }

    .nav.active .nav-mobile{
        transform: initial;
    }
    .header::before{
        display: none;
    }
}